@font-face {
   font-family: 'Gagalin-Regular';
   font-display: swap;
   src: url('file:///C:/Users/react/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-21_205819/fonts/Gagalin-Regular/font.ttf');
}
